.add-house {
  padding-top: 60px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 700px;
  background-color: #99e5ff;
  border-radius: 90px;
}
.Addhouse__house {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.input-house__name {
  font-family: "Menlo", sans-serif;
  font-size: 25px;
  font-style: italic;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
}
.create_button {
  font-family: "Menlo", sans-serif;
  font-size: 25px;
  margin-bottom: 30px;
  background-color: #c60982;
  border-radius: 15px;
  padding: 5px;
  color: white;
}
.input-invitation__code {
  font-family: "Menlo", sans-serif;
  font-size: 25px;
  font-style: italic;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
}
.unique-code__string {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.find_button {
  font-family: "Menlo", sans-serif;
  font-size: 25px;
  margin-bottom: 10px;
  background-color: #c60982;
  border-radius: 15px;
  padding: 5px;
  color: white;
}
.next_button {
  width: 50%;
  margin-bottom: 30px;
  font-family: "Menlo", sans-serif;
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
  background-color: #360866;
  border-radius: 15px;
  padding: 5px;
  color: white;
}

@media screen and (max-width: 390px) {
  .input-house__name {
    font-size: 15px;
  }
  .input-invitation__code {
    font-size: 15px;
  }
  .next_button {
    font-size: 20px;
  }
  .create_button {
    font-size: 20px;
  }
  .find_button {
    font-size: 20px;
  }
  .Addhouse__house {
    width: 70%;
  }
}
