.add-team {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #99E5FF;
}
.add-team input {
  font-family: "Menlo", sans-serif;
  font-size: 15px;
  margin: 10px;
  text-align: center;
}
.add-team button {
  font-family: "Menlo", sans-serif;
  font-size: 25px;
  background-color: #C60982;
  padding: 0px 50px 0px 50px;
  border-radius: 15px;
  color: white;
}
