.add-team {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(178, 225, 239);
}
.add-team input {
  font-family: "Menlo", sans-serif;
  font-size: 15px;
  margin: 10px;
  text-align: center;
}
.add-team button {
  font-family: "Menlo", sans-serif;
  font-size: 15px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: #bf1689;
  color: white;
}
