
.add-task {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #99E5FF;
}
.task__list {
  display: flex;
  background-color: #99E5FF;
  flex-direction: row;
  padding: 20px 50px 20px 50px;

}
.task__dropdown {
  font-family: "Menlo", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 0px 50px 0px 50px;
}
.add_task_button {
  font-family: "Menlo", sans-serif;
  font-size: 25px;
  background-color: #C60982;
  padding: 0px 50px 0px 50px;
  border-radius: 15px;
  color: white;
}

.custom-task {
  background-color: #99E5FF;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.custom-task input {
  font-size: 15px;
  margin: 10px;
}
