.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logout_button {
  font-family: "Menlo", sans-serif;
  font-size: 10px;
  margin-bottom: 10px;
  background-color: #C60982;
  flex-direction: row;
  border-radius: 10px;
  padding: 5px;
  color: white;
}  
.user {
  font-family: "Menlo", sans-serif;
  flex-direction: row
}             

