.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  font-size: 20px;
  margin-left: 10px;
  padding-left: 100px;
  padding-right: 100px;
  scroll-behavior: auto;
}

.task__button {
  font-family: "Menlo", sans-serif;
  font-size: 25px;
  background-color: #C60982;
  padding: 3px 50px 3px 50px;
  border-radius: 15px;
  color: white;
}

.task__name {
  color: #C60982;
  font-size: 25px;
}
