.task {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  font-size: 20px;
  margin-left: 10px;
}

.task__button {
  background-color:  #C60982;
  color: white;
  margin-right: 10px;
  font-size: 20px;
}

.task__name {
  color: #C60982;
}
