.usertask {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  font-size: 20px;
  margin-left: 10px;
}

.usertask__button {
  background-color: #bf1689;
  color: white;
  margin-right: 10px;
  font-size: 20px;
}

.usertask__name {
  color: #360866;
}
