.usertask-container {
  background-color: #c60982;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 30px;
}

.usertask {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  margin-left: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

.usertask__button {
  font-family: "Menlo", sans-serif;
  font-size: 25px;
  background-color: #360866;
  padding: 3px 50px 3px 50px;
  border-radius: 15px;
  color: white;
}

.usertask__name {
  color: white;
  font-size: 25px;
}

@media screen and (max-width: 390px) {
  .usertask__button {
    font-size: 20px;
    padding: 1px 5px 1px 5px;
    margin-right: 40px;
  }
  .usertask__name {
    font-size: 15px;
  }
  .usertask {
    justify-content: flex-start;
    padding: 0;
  }
}
