@charset "utf-8";
	.HOUZE_white_background
{
	background : #FCFCFC;
	background : rgba(252, 252, 252, 1);
	position : absolute ;
	left : 0px;
	top : 96px;
	width : 1125px;
	height : 844px;
}
