@charset "utf-8";
	.TOP_banner
{
	background : #C60982;
	background : rgba(198, 9, 130, 1);
	position : absolute ;
	left : 0px;
	top : 0px;
	width : 1125px;
	height : 209px;
	border-radius : 0px 0px 106px 106px;
	-moz-border-radius : 0px 0px 106px 106px;
	-webkit-border-radius : 0px 0px 106px 106px;
}
