@charset "utf-8";
	.middle-area
{
	background : #99E5FF;
	background : rgba(153, 229, 255, 1);
	position : absolute ;
	left : 0px;
	top : 759px;
	width : 1125px;
	height : 1169px;
	border-radius : 106px;
	-moz-border-radius : 106px;
	-webkit-border-radius : 106px;
}
